apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  labels:
    app: flask
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask-app
        image: 975050024946.dkr.ecr.ap-northeast-3.amazonaws.com/flask-app:latest
        ports:
        - containerPort: 5000
